@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* font-family: "sansRegular"; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2e2e2e;
}

@font-face {
  font-family: sansRegular;
  src: url("../assets/fonts/NanumSquareOTF_acR.otf");
}